<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <% if (msg.length !== 0) { %>
            <div class="alert alert-success" role="alert"><%= msg %></div>
            <% } else if (msgFail.length !== 0) { %>
            <div class="alert alert-danger" role="alert"><%= msgFail %></div>
            <% } %>
            <form method="POST" action="/dashboard/create">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      name="firstName"
                      type="text"
                      id="firstName"
                      class="form-control form-control-lg"
                      required
                    />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      name="lastName"
                      required
                      type="text"
                      id="lastName"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      name="username"
                      required
                      type="text"
                      id="emailAddress"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="emailAddress"
                      >Username</label
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      name="password"
                      required
                      type="password"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="phoneNumber">Password</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      name="email"
                      required
                      type="email"
                      id="emailAddress"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      name="phoneNumber"
                      required
                      type="tel"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="phoneNumber"
                      >Phone Number</label
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      name="birthday"
                      required
                      type="date"
                      id="emailAddress"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="emailAddress"
                      >Birthday</label
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <select
                    class="select form-control form-control-lg"
                    name="jenisKelamin"
                  >
                    <option value="1" selected disabled>SELECT GENDER</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                  </select>
                  <label class="form-label" for="emailAddress">Gender</label>
                </div>
              </div>

              <div class="row align-items-center">
                <div class="col-md-6 mb-1">
                  <h6 class="mb-0">Alamat</h6>
                </div>
                <div class="col-md-9 pe-2">
                  <textarea
                    class="form-control"
                    name="address"
                    rows="3"
                    placeholder="Message sent to the employer"
                  ></textarea>
                </div>
              </div>
              <div class="mt-2 pt-2">
                <input
                  class="btn btn-dark btn-lg me-2"
                  type="submit"
                  value="Submit"
                />
                <a
                  type="button"
                  href="/dashboard"
                  class="btn btn-secondary py-2 px-5"
                  >Back</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
